<br><br><br>
<section class="cursos row">
    <div class="container">
        <h2 class="section__titulo">Nuestros Próximos Eventos</h2>
        <article class="cursos_info col-md-6"><img src="img/killers.jpg" class="img-responsive" alt="">
            <div class="cursos_descripcion">
                <h2>The Killers</h2>
                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, quis.</p>
            </div>
        </article>
        <article class="cursos_info col-md-6"><img src="img/bruno.jpg" style="width:60%" class="img-responsive" alt="">
            <div class="cursos_descripcion">
                <h2>Bruno Mars</h2>
                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quae!</p>
            </div>
        </article>
        <article class="cursos_info col-md-6"><img src="img/chihuahua.jpg" class="img-responsive" alt="">
            <div class="cursos_descripcion">
                <h2>The Chihuahua Band!</h2>
                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, iusto.</p>
            </div>
        </article>
        <article class="cursos_info col-md-6"><img src="img/coldplay.jpg" style="width:70%" class="img-responsive" alt="">
            <div class="cursos_descripcion">
                <h2>Coldplay</h2>
                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, nam.</p>
            </div>
        </article>
    </div>
</section>
