<div class="banner">
    <div class="container-fluid">
        <img src="img/eventsParty.jpg" class="banner img-responsive" style="width:100%" alt="">
        <div class="banner_mensaje">
            <h2>Los mejores eventos a tu alcance</h2>
            <p>Eventos cada semana</p>
        </div>
    </div>
</div>
