<br><br><br>
<section class="info row">
    <div class="container">
        <h2 class="section__titulo">Nuestro Proceso</h2>
        <article class="color1 col-xs-12 col-sm-4 col-md-4 rectangle"><img src="img/concert.jpg" class="img-responsive" alt="">
            <h2>Escoge tu evento</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium laudantium quisquam error tenetur ea, deleniti magni dolorem excepturi maiores, dicta quos sapiente, iusto ex vel perspiciatis animi. Veritatis, repellat, dolor?</p>
        </article>
        <article class="color1 col-xs-12 col-sm-4 col-md-4 rectangle"><img src="img/seats.jpg" class="img-responsive" alt="">
            <h2>Elige tus lugares</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto optio facere nihil, ex animi. Saepe fuga dignissimos cupiditate repellendus, aperiam sapiente deleniti mollitia reiciendis rerum eveniet unde doloremque praesentium modi.</p>
        </article>
        <article class="color1 col-xs-12 col-sm-4 col-md-4 rectangle"><img src="img/pay.jpg" class="img-responsive" alt="">
            <h2>Paga</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ab voluptate dicta. Voluptatibus eos rerum pariatur aut magnam fugiat magni, reiciendis quo nobis aspernatur eaque quisquam quos, sint nam voluptatem.</p>
        </article>

    </div>
</section>
