<br><br><br>
<main>
    <div class="container">
        <h2 class="section__titulo">Compra tus boletos</h2>
        <form action="" method="post" role="form">
            <legend>Datos de Contacto</legend>
            <div class="form-group">
                <label for="">Nombre Completo
                      <input type="text" class="form-control" placeholder="Ingrese el nombre" id=""></label>
            </div>
            <div class="form-group">
                <label for="">Cantidad de Tickets
                      <input type="number" class="form-control"  id=""></label>
            </div>


            <div class="form-group">
                <label for="">Correo Electronico
                      <input type="email" class="form-control" placeholder="Ingrese su e-mail" id=""></label>
            </div>
            <div class="form-group">
                <label for="">Telefono
                      <input type="text" class="form-control" placeholder="Ingrese su telefono" id=""></label>
            </div>


            <label for="">Método de Pago</label>
            <div class="checkbox">
                <label for="">
                          <input type="checkbox" value="php">
                          Tarjeta de crédito / débito
                      </label>
                <label for="">
                          <input type="checkbox" value="java">
                          Paypal
                      </label>
                <label for="">
                          <input type="checkbox" value=".net">
                          Efectivo (Oxxo)
                      </label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    <br><br>

</main>
