<footer class="footer">
    <div class="social">
        <a href="#" class="icon-facebook-official"></a>
        <a href="#" class="icon-twitter"></a>
        <a href="#" class="icon-google-plus"></a>
        <a href="#" class="icon-vine"></a>
    </div>
    <p class="copy"> </p>
</footer>

</div>
<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</body>

</html>
